<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>multi-video</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link href="../static/css/multi_video.css" rel="stylesheet">
    <script src="../static/js/echart.js"></script>
</head>
<body>
<nav class="navbar navbar-default " style="background: lavender">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">沙箱压裂液测试系统</a>
        </div>
        <div>
            <ul class="nav nav-pills">
                <li role="presentation" class=" li-test-li"><a href="{{ url_for('.index') }}">Home</a></li>
                <li role="presentation" class="active li-test-li"><a
                        href="{{ url_for('.multi_video') }}"><span>多界面处理</span></a></li>
                <li role="presentation" class="  li-test-li"><a href="{{ url_for('.ipc') }}">网络视频源</a></li>
                <li role="presentation" class="  li-test-li "><a
                        href="{{ url_for('.multi_ipc_video') }}">多网络视频源</a></li>
                <li role="presentation" class="li-test-li"><a href="{{ url_for('.test_report') }}">测试报告</a></li>

            </ul>
        </div>

    </div>

</nav>

<div class="container-fluid li_container">
    {#    <h2 style=" text-align: center">SandBox</h2>#}
    <!-- 这个地方我们有一个导航栏或是标题什么的 -->
    <div class="row ">
        <div class="col-md-10 col-lg-10 " style="height: 94vh ;overflow: auto">
            <ul>

                {% for filename in video_names %}
                    {#                    <li>{{ filename }}</li>#}
                    <li>视频id {{ loop.index0 }}</li>

                    <li>
                        <div class="father-middle">
                            <div class="col-md-4 col-lg-4 middle ">
                                <video data="{{ loop.index0 }}" class="video_player" muted controls
                                       onclick="choose_a_video(this)">

                                    <source src="{{ filename }}" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg">
                                    您的浏览器不支持Video标签。
                                </video>
                            </div>
                            <div class="col-md-8 col-lg-8 ">
                                <div class="echart-back" data="{{ loop.index0 }}"></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>


        </div>
        <div class="col-md-2 col-lg-2">
            <h2> 关键点坐标/面积 </h2>
            <div class="panel panel-primary">
            </div>
            <form action="{{ url_for('.site') }}" method="POST" id="site_form" onsubmit="return submitForm()">
                <div class="panel panel-success">
                    <p class="site-center" id="site_left_top">({{ site_left_top }})</p>
                    <p class="site-center" id="site_left_bottom">({{ site_left_bottom }})</p>
                    <p class="site-center" id="site_right_top">({{ site_right_top }})</p>
                    <p class="site-center" id="site_right_bottom">({{ site_right_bottom }})</p>
                </div>


                <div id="site-change">
                    <button type="button" id="multi-video-run" class="btn btn-info">
                        开始处理
                    </button>
                    <button type="button" id="multi-video-stop" class="btn btn-info">
                        停止处理
                    </button>
                    <button type="button" id="chart" class="btn btn-info">计算面积</button>

                </div>

            </form>
            <div class="panel panel-primary">
            </div>

            <h2>坐标获取</h2>
            <br>
            <div id="site-change">
                <button type="button" class="btn btn-info" id="site-change-set-background">设置背景</button>

                <button type="button" class="btn btn-info" id="site-change-set-currentframe"
                        onclick="setCurrentFrame()">选择当前帧
                </button>
                <form class="" method="post" action="{{ url_for('.image_back') }}" enctype="multipart/form-data">
                    <div>
                        <input type="file" style="width: 100%;" name="background" placeholder="上传背景"/>

                        <input type="text" name="id" placeholder="视频id 0开始"/>
                        <input type="text" name="location" value="multi_video" style="display: none">

                        <input type="submit" class="btn btn-info" value="提交背景"/>

                    </div>

                </form>
                <br>
                <br>
                <div class="panel panel-primary">
                </div>
                <h2>图表操作</h2>
                <p id="ds">当前位置 未知</p>
                <p> 要修改为：
                    <a type="text" class="site_input" name="new_data_x" id="new_data_x"
                       style="height: 20px;width: 40px;text-align:center;">50</a>

                    <input type="text" class="site_input" name="new_data_y" id="new_data_y" value="50"
                           style="height: 20px;width: 40px;text-align:center;"></p>

                <p id="newer_data"></p>

                <input type="button" class="btn btn-info" value="调整图表" id="change-data"/>

                <input type="button" class="btn btn-info" value="保存图表" id="save_image"/>
                <a href="{{ url_for('static',filename="document/generated_doc.docx") }}" download="测试报告.docx"
                   id="site"></a>


                {#                <button type="button" class="btn btn-info" onclick="change_data(this) ">调整图表</button>#}
                {#                </form>#}

            </div>

        </div>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../static/js/multi_video.js"></script>

<script>

    document.getElementById('change-data').onclick = function () {
        id = document.getElementById('ds').getAttribute('index')
        console.log(id)
        change_data(id)
    }
    video_run.onclick = function () {
        for (var i = 0; i < videos.length; i++) {
            videos[i].play()
        }
        changetorun()
        setCurrentFrame()
        console.log('点击开始运行')
    }
    video_stop.onclick = function () {
        for (var i = 0; i < videos.length; i++) {
            videos[i].pause()
        }
        changetostop()
    }

    set_background.onclick = function () {

        for (var i = 0; i < videos.length; i++) {
            video = videos[i]
            pictureURL = getCurrentFrames(video)
            setBackground(pictureURL, i)
        }

    }

    save_image.onclick = function () {
        console.log("saveImage click")
        for (var i = 0; i < videos.length; i++) {
            video = videos[i]
            idx = i
            console.log("save image")
            var img_base = saveAsImage(idx)
            console.log(img_base)
            $.ajax({
                url: '{{ url_for('.save_image') }}',//请求路径
                data: {
                    current_frame: img_base,
                    id: idx
                },
                type: "POST",//GET,
                success: function (resp) {
                    //处理 resp.responseText;
                    console.log(resp)
                },
                error: function (a, b, c) {
                    //a,b,c三个参数,具体请参考JQuery API
                }
            })

        }

        $.get(
            '{{ url_for('.update_report') }}',
            function (e) {
                console.log(e)
                if (e.length >= 7) {
                    alert(e)
                } else {
                    dowloadDocx.click()
                    alert("保存图表成功")
                }

            })
    }
    var dowloadDocx = document.getElementById("site")


    function uploadPicture(pictureURL, id) {

        echart_data = ""
        console.log(' upload ')
        $.ajax({
            url: '{{ url_for('.picture') }}',//请求路径
            data: {
                current_frame: pictureURL,
                id: id
            },
            type: "POST",//GET,
            async: true,
            //dataType: "JSON",//需要返回JSON对象(如果Ajax返回的是手动拼接的JSON字符串,需要Key,Value都有引号)
            success: function (resp) {
                //处理 resp.responseText;
                console.log(resp)
                echart_data = resp
                setData(echart_data)

            },
            error: function (a, b, c) {
                //a,b,c三个参数,具体请参考JQuery API
            }
        })
        console.log(echart_data)
        console.log('message === >echart js ')
        return echart_data
    }

    function setBackground(pictureURL, id) {
        $.ajax({
            url: '{{ url_for('.background') }}',//请求路径
            data: {
                back_frame: pictureURL,
                id: id
            },
            type: "POST",//GET,
            async: true,
            success: function (resp) {
                //处理 resp.responseText;
                console.log(resp)
                console.log("设置背景")
            },
            error: function (a, b, c) {
                //a,b,c三个参数,具体请参考JQuery API
            }
        })
    }

    function getCurrentFrames(video) {


        var canvas = document.createElement("canvas");

        width = video.videoWidth
        scale = 640 / parseFloat(width)
        tempscale = scale.toFixed(1)
        scale = parseFloat(tempscale)
        console.log(scale)
        canvas.width = video.videoWidth * scale;

        canvas.height = video.videoHeight * scale;
        canvas.getContext('2d')
            .drawImage(video, 0, 0, canvas.width, canvas.height);  //可以只截取一部分图像  。。
        pictureURL = canvas.toDataURL('image/png');

        return pictureURL
    }

    chart.onclick = function () {
        console.log('开始计算面积')
        chars()
    }

    // chart所有的坐标显示
    function chars() {
        {# 都是同步和异步的问题 #}
        for (var i = 0; i < videos.length; i++) {
            $.ajax({
                    url: '{{ url_for('.get_volume') }}',//请求路径
                    data: {
                        id: i
                    },
                    type: "POST",//GET,
                    async:
                        true,
                    success:
                        function (data) {
                            console.log(data.frame_area.toFixed(2))
                            area = data.frame_area.toFixed(2)
                            volume = data.sand_area.toFixed(2)
                            a_v_scale = data.sand_frame_scale.toFixed(2)
                            run_text = [
                                "area:" + area,
                                "volume:" + volume,
                                "scale:" + a_v_scale
                            ].join('\n')
                            console.log(run_text)
                            id = data.id
                            rwar(id, run_text)
                        }
                }
            )
        }
    }

    // chart 上的面积显示


    // 视频点击切换坐标显示
    function choose_a_video(obj) {
        id = obj.getAttribute('data')
        $.post(
            '{{ url_for('.site_get') }}',
            {id: id},
            function (data) {
                console.log(data)
                site_left_top.innerText = '(' + data.site_left_top + ')'
                site_left_bottom.innerText = '(' + data.site_left_bottom + ')'
                site_right_top.innerText = '(' + data.site_right_top + ')'
                site_right_bottom.innerText = '(' + data.site_right_bottom + ')'
            }
        )
    }

    function changetorun(obj) {
        run = true
        console.log(run)
    }

    function changetostop(obj) {
        run = false
    }


</script>
</body>
</html>