<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>测试报告</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static',filename='css/test_report.css') }}" rel="stylesheet">
</head>
<body style="background: lavender">
<nav class="navbar navbar-default " style="background: lavender">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">沙箱压裂液测试系统</a>
        </div>
        <div>
            <ul class="nav nav-pills">
                <li role="presentation" class=" li-test-li"><a href="{{ url_for('.index') }}">Home</a></li>
                <li role="presentation" class=" li-test-li"><a
                        href="{{ url_for('.multi_video') }}"><span>多界面处理</span></a></li>
                <li role="presentation" class="  li-test-li"><a href="{{ url_for('.ipc') }}">网络视频源</a></li>
                <li role="presentation" class=" li-test-li "><a
                        href="{{ url_for('.multi_ipc_video') }}">多网络视频源</a></li>
                <li role="presentation" class="li-test-li"><a href="{{ url_for('.test_report') }}">测试报告</a></li>

            </ul>
        </div>

    </div>

</nav>
<div class="container">
    <div class="page-header">
        <h1>测试报告</h1>
    </div>

    <h3>基础信息</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputAdvice" class="col-sm-2 control-label">设备名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputAdvice" placeholder="设备名称">
            </div>

            <label for="produceCompany" class="col-sm-2 control-label">生产厂家</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="produceCompany" placeholder="生产厂家">
            </div>
        </div>
        <div class="form-group">
            <label for="produceTime" class="col-sm-2 control-label">出厂时间</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="produceTime" placeholder="出厂日期">
            </div>

            <label for="maintainTime" class="col-sm-2 control-label">保养日期</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="maintainTime" placeholder="保养日期">
            </div>
        </div>
        <div class="form-group">
            <label for="responsibleMan" class="col-sm-2 control-label">设备责任人</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="responsibleMan" placeholder="设备责任人">
            </div>

            <label for="experimenters" class="col-sm-2 control-label">实验人员</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="experimenters" placeholder="实验人员">
            </div>
        </div>
        <div class="form-group">
            <label for="ownCompany" class="col-sm-2 control-label">单位名称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="ownCompany" placeholder="单位名称">
            </div>
        </div>

    </form>
    <h3>实验材料信息</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="fluidName" class="col-sm-2 control-label">压裂液类型</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fluidName" placeholder="压裂液类型">
            </div>
            <label for="proppantName" class="col-sm-2 control-label">支撑剂类型</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="proppantName" placeholder="支撑剂类型">
            </div>
        </div>

        <div class="form-group">
            <label for="fluidViscosity" class="col-sm-2 control-label">压裂液粘度(mPa.s)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fluidViscosity" placeholder="压裂液粘度（mPa.s）">
            </div>
            <label for="proppantDensity" class="col-sm-2 control-label">支撑剂密度(kg/m<sup>3</sup>)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="proppantDensity" placeholder="支撑剂密度">
            </div>
        </div>

        <div class="form-group">
            <label for="fluidDensity" class="col-sm-2 control-label">压裂液密度(kg/m<sup>3</sup>)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fluidDensity" placeholder="压裂液密度">
            </div>
            <label for="proppantAperture" class="col-sm-2 control-label">支撑剂粒径(mm)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="proppantAperture" placeholder="支撑剂粒径(mm)">
            </div>
        </div>

        <div class="form-group">
            <label for="fileLocation" class="col-sm-2 control-label">报告存放位置</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fileLocation" placeholder="报告存放位置">
            </div>
        </div>

    </form>

    <div><h3 style="display: inline-block">支撑剂水平运移速度与沉降速度测试</h3>
        <button type="button" class="btn btn-default col-sm-offset-2 " id="li-table-add" style="margin-bottom: 6px ">
            添加一行
        </button>
        <button type="button" class="btn btn-default col-sm-offset-2 " id="li-table-delete" style="margin-bottom: 6px ">
            删除一行
        </button>
    </div>

    <div class="table-responsive ">
        <table class="table table-bordered table-hover" id="li-table">

            <thead>
            <tr>
                <th>lx(cm)</th>
                <th>ly(cm)</th>
                <th>time(s)</th>
                <th>流速(m/s)</th>
                <th>砂比(%)</th>
                <th>支撑剂密度(Kg/m<sup>3</sup>)</th>
                <th>流体粘度(mPa.s)</th>

            </tr>
            </thead>
            <tbody id="li-tbody">
            <tr class="li-tr">
                <td><input class="form-control" name="lx"></td>
                <td><input class="form-control" name="ly"></td>
                <td><input class="form-control" name="time"></td>
                <td><input class="form-control" name="v"></td>
                <td><input class="form-control" name="scale"></td>
                <td><input class="form-control" name="density"></td>
                <td><input class="form-control" name="viscosity"></td>
            </tr>
            {#            <tr class="li-tr">
                <td><input class="form-control" name="lx"></td>
                <td><input class="form-control" name="ly"></td>
                <td><input class="form-control" name="time"></td>
                <td><input class="form-control" name="v"></td>
                <td><input class="form-control" name="scale"></td>
                <td><input class="form-control" name="density"></td>
                <td><input class="form-control" name="viscosity"></td>
            </tr>#}
            <tr class="li-tr">
                <td><input class="form-control" name="lx"></td>
                <td><input class="form-control" name="ly"></td>
                <td><input class="form-control" name="time"></td>
                <td><input class="form-control" name="v"></td>
                <td><input class="form-control" name="scale"></td>
                <td><input class="form-control" name="density"></td>
                <td><input class="form-control" name="viscosity"></td>
            </tr>

            </tbody>
        </table>
    </div>


    <form class="form-horizontal">
        <div class="col-sm-offset-2">
            <button type="button" class="btn btn-default" id="li-submit">提交测试</button>
            <a href="{{ url_for('static',filename="document/generated_doc.docx") }}" download="测试报告.docx"
               id="site"></a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<script>

    var li_table_add = document.getElementById('li-table-add')
    var li_table = document.getElementById('li-tbody')
    var dowloadDocx = document.getElementById("site")
    var li_table_delete = document.getElementById("li-table-delete")
    {# 表格添加一行  #}
    strHtml = '                <td><input class="form-control" name="lx"></td>\n' +
        '                <td><input class="form-control" name="ly"></td>\n' +
        '                <td><input class="form-control" name="time"></td>\n' +
        '                <td><input class="form-control" name="v"></td>\n' +
        '                <td><input class="form-control" name="scale"></td>\n' +
        '                <td><input class="form-control" name="density"></td>\n' +
        '                <td><input class="form-control" name="viscosity"></td>'

    li_table_add.onclick = function () {
        console.log('append')
        var li = document.createElement('tr')
        li.className = 'li-tr'
        li.innerHTML = strHtml
        li_table.append(li)

    }

    li_table_delete.onclick = function () {
        var trs = document.getElementsByClassName("li-tr")
        console.log(trs.length)

        var last_tr = trs[trs.length - 1]
        last_tr.parentNode.removeChild(last_tr)
    }

    function getExperimentTestsInfo() {
        console.log("ang ")
        tests = {}
        samples = []

        vx = 0
        vy = 0
        length_table = 0

        console.log("get element rush ")
        $("#li-table").each(function () {
            length_table = $(this).find("tr").length - 1
            {# length  从 th开始算的 #}
            if (length_table == 0 || length_table == null) {
                return {}
            }
            console.log("get info ")
            //循环获取每行td的内容
            for (var i = 1; i < $(this).find("tr").length; i++) {
                map = {}
                map.lx = parseFloat($(this).find("tr").eq(i).find("td").eq(0).find("input").val());
                judgeNaN("lx", map.lx)
                console.log(map.lx + "map.lx")
                map.ly = parseFloat($(this).find("tr").eq(i).find("td").eq(1).find("input").val());
                judgeNaN("ly", map.ly)
                map.time = parseFloat($(this).find("tr").eq(i).find("td").eq(2).find("input").val());
                judgeNaN('time', map.time)
                map.v = parseFloat($(this).find("tr").eq(i).find("td").eq(3).find("input").val());
                judgeNaN('v', map.v)
                map.scale = parseFloat($(this).find("tr").eq(i).find("td").eq(4).find("input").val());
                judgeNaN('scale', map.scale)
                map.density = parseFloat($(this).find("tr").eq(i).find("td").eq(5).find("input").val());
                judgeNaN('density', map.density)
                map.viscosity = parseFloat($(this).find("tr").eq(i).find("td").eq(6).find("input").val());
                judgeNaN('viscosity', map.viscosity)

                temp1 = parseFloat(map.lx) / parseFloat(map.time)
                temp2 = parseFloat(map.ly) / parseFloat(map.time)
                console.log(temp1)
                console.log("temp1")
                map.vx = parseFloat(temp1.toFixed(2))
                map.vy = parseFloat(temp2.toFixed(2))
                vx = vx + map.vx
                console.log(vx)
                console.log('vx')
                console.log(map.vx)
                vy = vy + map.vy
                samples[i - 1] = map
                console.log('\n\n\n\n')
            }

        });

        console.log(length_table)

        average_vx = vx / length_table
        average_vy = vy / length_table
        tests = {
            'samples': samples,
            'average_vx': parseFloat(average_vx.toFixed(2)),
            'average_vy': parseFloat(average_vy.toFixed(2))
        }
        console.log(tests)
        return tests
    }

    function getDeviceInfo() {

        device = {}
        device.name = $("#inputAdvice").val()
        device.produce_company = $("#produceCompany").val()
        device.produce_time = $("#produceTime").val()
        device.maintain_time = $('#maintainTime').val()
        device.responsible_man = $('#responsibleMan').val()
        device.experimenters = $('#experimenters').val()
        device.own_company = $('#ownCompany').val()
        return device
    }

    function getExperimentInfo() {
        console.log("get experiment info ")
        experiment = {}
        fluid = {}
        proppant = {}
        fluid.name = $('#fluidName').val()
        fluid.viscosity = $('#fluidViscosity').val()
        fluid.density = $('#fluidDensity').val()
        proppant.name = $('#proppantName').val()
        proppant.density = $('#proppantDensity').val()
        proppant.aperture = $('#proppantAperture').val()
        file_location = $('#fileLocation').val()
        experiment = {
            'fluid': fluid,
            'proppant': proppant,
            'file_location': file_location
        }
        return experiment
    }

    $('#li-submit').click(function () {
        context = {
            'device': getDeviceInfo(),
            'experiment': getExperimentInfo(),
            'tests': getExperimentTestsInfo()
        }
        console.log(context)

        $.ajax({
            url:{{ url_for('.test_report') }},
            dataType: 'text',
            data: JSON.stringify(context),
            contentType: 'application/json;charset=UTF-8',
            type: "POST",
            success: function (resp) {
                dowloadDocx.click()
                alert("报告已生成")
                console.log(resp)
            },
            error: function (a, b, c) {
                console.log("error ")
                alert("error  occur")
            }
        })
    })

    function judgeNaN(name, element) {
        console.log("judge  NaN")
        console.log(isNaN(element))
        if (isNaN(element)) {
            alert(name + "不能为空")
            //停止执行后面得数据
            throw SyntaxError();
        }
    }
</script>

</body>
</html>