<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video test</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="video">
    <video id="video_player" controls muted class="video_player" style=" width: 400px">
        <source src="../static/video/视频3.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        您的浏览器不支持Video标签。
    </video>
</div>
<div id="output" style="width: 500px"></div>
<div id="canvasDiv" style="width: 400px"></div>
<img src="../static/image/firstFrame4.jpg" id="img-li">
<button id="run"> button</button>
<script>
    var run = document.getElementById("run")
    var img = document.getElementById("img-li")
    console.log(img.src)

    console.log("done")
    var video = document.getElementById("video_player")
    video.play()
    console.log("done2 ")
    console.log(video.currentSrc)
    {#


        $(function () {
            var cDiv = convertImageToCanvas(video);
            $("#canvasDiv").append(cDiv);

            // image-->canvas
            function convertImageToCanvas(video) {
                //创建canvas DOM对象,并设置其宽高和图片一样
                var canvas = document.createElement("canvas");
                canvas.width = video.videoWidth * 0.25;
                canvas.height = video.videoHeight * 0.25;
                //坐标(0,0)表示从此处开始绘制,相当于偏移
                console.log(video.videoWidth)
                canvas.getContext("2d").drawImage(video, 0, 0);

                return canvas;
            }

            // 把canvas转换为image的
            var myCanvas = document.getElementsByTagName("canvas")[0];
            var img = convertCanvasToImage(myCanvas);
            $("#output").append(img);

            // canvas-->image
            function convertCanvasToImage(canvas) {
                //新Image对象,可以理解为DOM;
                var image = new Image();
                //canvas.toDataURL返回的是一串Base64编码的URL,当然,浏览器自己肯定支持
                //指定格式PNG
                image.src = canvas.toDataURL("image/png");
                console.log(image.src)
                return image;
            }
        });
    #}

    function getinfo(video_tmp, scale) {
        var canvas = document.createElement("canvas");
        console.log(video_tmp.currentTime, "currentTime")

        canvas.width = video.videoWidth * scale;
        canvas.height = video.videoHeight * scale;
        canvas.getContext("2d").drawImage(video_tmp, 0, 0, canvas.width, canvas.height);
        var img_src = canvas.toDataURL("image/png")

        return img_src
    }

    run.onclick = function () {
        var temp1 = video.currentTime.toFixed(0)
        video.currentTime = 20
        {#顺序执行，但是js是异步得执行，故可能并没有得到结果#}
        var img_src1 = getinfo(video, 1)

        img.src = img_src1
        {#
                video.currentTime = temp1
                var img_src2 = getinfo(video, 1)
                console.log(img_src2)#}
    }


</script>

</body>
</html>